<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/feeBook.css" />
        <title>feeBook</title>
    </head>
    <body>
        <table>
            <tr>
                <th>Month</th>
                <th>Receipt No.</th>
                <th>Date</th>
                <th>Tution Fee</th>
                <th>Development Fee</th>
                <th>Exam Fee</th>
                <th>Transport Fee</th>
                <th>Total</th>
                <th>Paid</th>
                <th>Balance</th>
            </tr>
            <% months.forEach(month =>{%>
            <tr>
                <td><%= month %></td>
                <td><%= studentFee[month.toLowerCase()].receiptNumber %></td>
                <td><%= studentFee[month.toLowerCase()].date %></td>
                <td><%= studentFee[month.toLowerCase()].tutionFee %></td>
                <td><%= studentFee[month.toLowerCase()].developmentFee %></td>
                <td><%= studentFee[month.toLowerCase()].examFee %></td>
                <td><%= studentFee[month.toLowerCase()].transportFee %></td>
                <td><%= studentFee[month.toLowerCase()].total %></td>
                <td><%= studentFee[month.toLowerCase()].paid %></td>
                <td><%= studentFee[month.toLowerCase()].total - studentFee[month.toLowerCase()].paid %></td>
            </tr>
            <%})%>
        </table>
    </body>
</html>
