<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/feeUpdate.css" />
        <title>Grade Fee Update</title>
    </head>
    <body>
        <div class="school">
            <div class="school-logo">
                <a href="/grades">
                    <img
                        src="/images/school/logo-small.jpg"
                        alt="school-logo"
                        width="100px"
                    />
                </a>
            </div>
            <div class="school-name">
                <a href="/grades"> Shining Stars Academy </a>
            </div>
        </div>
        <form action="/student/feeUpdate/<%= student._id %>" method="post">
            <input type="submit" value="Submit" />

            <table>
                <tr>
                    <th>Month</th>
                    <th>Receipt No.</th>
                    <th>Date</th>
                    <th>Admission</th>
                    <th>Tution</th>
                    <th>Transport</th>
                    <th>Exam</th>
                    <th>Computer</th>
                    <th>Stationery</th>
                    <th>Development</th>
                    <th>Total</th>
                    <th>Paid</th>
                </tr>
                <tr>
                    <% let aprilTotal = studentFee["april"].admission +
                    studentFee["april"].transport + gradeFee.tution +
                    gradeFee.exam + gradeFee.development + gradeFee.computer +
                    studentFee["april"].stationery %>
                    <td style="font-weight: bold">April</td>
                    <td>
                        <input
                            class="recno"
                            type="text"
                            name="receiptNumber"
                            id="receiptNumber"
                            value="<%= studentFee['april'].receiptNumber %>"
                        />
                    </td>
                    <td>
                        <input
                            type="date"
                            name="date"
                            id="date"
                            value="<%= studentFee['april'].date %>"
                        />
                    </td>
                    <td>
                        <input
                            type="text"
                            name="admission"
                            id="admission"
                            value="<%= studentFee['april'].admission %>"
                        />
                    </td>
                    <td><%= gradeFee.tution %></td>
                    <td>
                        <input
                            type="text"
                            name="transport"
                            id="transport"
                            value="<%= studentFee['april'].transport %>"
                        />
                    </td>
                    <td><%= gradeFee.exam %></td>
                    <td><%= gradeFee.computer %></td>
                    <td>
                        <input
                        type="text"
                        name="stationery"
                        id="stationery"
                        value="<%= studentFee['april'].stationery %>"
                        />
                    </td>
                    <td><%= gradeFee.development %></td>
                    <td><%= aprilTotal %></td>
                    <td>
                        <input
                            type="text"
                            name="paid"
                            id="paid"
                            value="<%= studentFee['april'].paid %>"
                        />
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <th>Month</th>
                    <th>Receipt No.</th>
                    <th>Date</th>
                    <th>Tution</th>
                    <th>Transport</th>
                    <th>Total</th>
                    <th>Paid</th>
                </tr>
                <% months.forEach(month =>{ %>
                <tr>
                    <td style="font-weight: bold"><%= month %></td>
                    <td>
                        <input
                            type="text"
                            name="receiptNumber"
                            id=""
                            value="<%= studentFee[month.toLowerCase()].receiptNumber %>"
                        />
                    </td>
                    <td>
                        <input
                            type="date"
                            name="date"
                            id=""
                            value="<%= studentFee[month.toLowerCase()].date %>"
                        />
                    </td>
                    <td><%= gradeFee.tution %></td>
                    <td>
                        <input
                            type="text"
                            name="transport"
                            id="transport"
                            value="<%= studentFee[month.toLowerCase()].transport %>"
                        />
                    </td>
                    <td>
                        <%= studentFee[month.toLowerCase()].transport +
                        gradeFee.tution %>
                    </td>
                    <td>
                        <input
                            type="text"
                            name="paid"
                            id="paid"
                            value="<%= studentFee[month.toLowerCase()].paid %>"
                        />
                    </td>
                </tr>
                <%})%>
            </table>
        </form>

        <script></script>
    </body>
</html>
