<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/grade.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
            integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <title>Grade <%= grade %> | Shining Stars Academy</title>
    </head>
    <body>
        <div class="school">
            <div class="school-logo">
                <a href="/grades">
                    <img
                        src="/images/school/logo-small.jpg"
                        alt="school-logo"
                        width="100px"
                    />
                </a>
            </div>
            <div class="school-name">
                <a href="/grades"> Shining Stars Academy </a>
            </div>
        </div>
        <div class="students-list">
            <div class="grade-container">
                <div class="grade"><%= grade.toUpperCase() %></div>
                <div class="total-students-container">
                    <div class="total-students">
                        Total Students : <%= students.length %>
                    </div>
                </div>
            </div>

            <% students.forEach(student=>{ %>

            <div class="student-container">
                <div class="student">
                    <div class="student-name">
                        Name : <%= student.name.toUpperCase() %>
                    </div>
                    <div class="parents">
                        <div class="student-fatherName">
                            Father Name : <%= student.fatherName.toUpperCase()
                            %>
                        </div>
                        <div class="student-motherName">
                            Mother Name : <%= student.motherName.toUpperCase()
                            %>
                        </div>
                    </div>
                </div>
                <a href="/student/<%= student._id %>" class="fee-details-link">
                    <button class="fee-details-button">
                        <span>Details</span>
                        <span
                            ><i
                                class="fa-solid fa-circle-chevron-right fa-2x"
                            ></i
                        ></span>
                    </button>
                </a>
            </div>

            <% }) %>
        </div>
    </body>
</html>
