<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/studentDetails.css" />
        <title>
            <%= student.name.toUpperCase() %>
        </title>
    </head>
    <body>
        <div class="container">
            <div class="school">
                <div class="school-logo">
                    <a href="/grades">
                        <img
                            src="/images/school/logo-small.jpg"
                            alt="school-logo"
                        />
                    </a>
                </div>
                <div class="school-name">
                    <a href="/grades"> Shining Stars Academy </a>
                </div>
            </div>

            <h1 class="page-heading">Student Details</h1>

            <!--first container start -->
            <div class="first-container">
                <div class="grid-item-first first-1">
                    <div class="item1">
                        <div class="srNumber-container">
                            <div class="srNumber-heading field-heading">
                                Sr No.
                            </div>
                            <div class="srNumber bold">
                                <%= student.srNumber %>
                            </div>
                        </div>
                        <div class="grade-container">
                            <div class="grade-heading field-heading">Grade</div>
                            <div class="grade bold">
                                <%= student.grade.toUpperCase() %>
                            </div>
                        </div>
                    </div>

                    <div class="item-2">
                        <div class="dob-container">
                            <div class="dob-heading field-heading">
                                Date of Birth
                            </div>
                            <div class="dob bold"><%= student.dob %></div>
                        </div>
                        <div class="gender-container">
                            <div class="gender-heading field-heading">
                                Gender
                            </div>
                            <div class="gender bold"><%= student.gender %></div>
                        </div>
                    </div>

                    <div class="item-3">
                        <div class="name-container">
                            <div class="name-heading field-heading">Name</div>
                            <div class="name bold">
                                <%= student.name.toUpperCase() %>
                            </div>
                        </div>
                        <div class="aadharNumber-container">
                            <div class="aadharNumber-heading field-heading">
                                Aadhar Number
                            </div>
                            <div class="aadharNumber bold">
                                <%= student.aadharNumber %>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- container for student image  -->
                <div class="grid-item-first first-2">
                    <div class="student-image-container">
                        <div class="student-image">
                            <img
                                src="/images/students/<%= student.image %>"
                                alt="<%= student.name %>"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <!-- first container end -->
            <hr />

            <div class="parent-container">
                <div class="fatherName-container">
                    <div class="fatherName-heading field-heading">
                        Father's Name
                    </div>
                    <div class="fatherName bold">
                        <%= student.fatherName.toUpperCase() %>
                    </div>
                </div>

                <div class="motherName-container">
                    <div class="motherName-heading field-heading">
                        Mother's Name
                    </div>
                    <div class="motherName bold">
                        <%= student.motherName.toUpperCase() %>
                    </div>
                </div>
            </div>

            <hr />
            <div class="address-container">
                <div class="address-heading field-heading">Address</div>
                <div class="address bold"><%= student.address %></div>
            </div>
            <hr />
            <div class="contact-field-container">
                <div class="contact-container">
                    <div class="contact-heading field-heading">Contact</div>
                    <div class="contact bold"><%= student.contact %></div>
                </div>

                <div class="alternateContact-container">
                    <div class="alternateContact-heading field-heading">
                        Alternate Contact
                    </div>
                    <div class="alternateContact bold">
                        <%= student.alternateContact %>
                    </div>
                </div>
            </div>
            <hr />
            <div class="update">
                <div class="student-update-btn-container">
                    <a href="/student/update/<%= student._id %>"
                        ><button>Update Student Details</button></a
                    >
                </div>
                <div class="fee-update-btn-container">
                    <a href="/student/feeUpdate/<%= student._id %>"
                        ><button>Click to Update Fee</button></a
                    >
                </div>
            </div>
            <table>
                <div class="april-details">April</div>
                <tr>
                    <th>Receipt No.</th>
                    <th>Date</th>
                    <th>Admission</th>
                    <th>Tution</th>
                    <th>Transport</th>
                    <th>Exam</th>
                    <th>Development</th>
                    <th>Computer</th>
                    <th>Stationery</th>
                    <th>Total</th>
                    <th>Paid</th>
                    <th>Balance</th>
                </tr>
                <tr>
                    <% let aprilTotal = studentFee["april"].admission +
                    studentFee["april"].transport + gradeFee.tution +
                    gradeFee.exam + gradeFee.development + gradeFee.computer +
                    studentFee["april"].stationery %>
                    <td><%= studentFee["april"].receiptNumber %></td>
                    <td><%= studentFee["april"].date %></td>
                    <td><%= studentFee["april"].admission %></td>
                    <th><%= gradeFee.tution %></th>
                    <td><%= studentFee["april"].transport %></td>
                    <th><%= gradeFee.exam %></th>
                    <th><%= gradeFee.development %></th>
                    <th><%= gradeFee.computer %></th>
                    <th><%= studentFee["april"].stationery %></th>
                    <th><%= aprilTotal %></th>
                    <th><%= studentFee["april"].paid %></th>
                    <th><%= aprilTotal - studentFee["april"].paid %></th>
                </tr>
            </table>
            <table>
                <tr>
                    <th>Month</th>
                    <th>Receipt No.</th>
                    <th>Date</th>
                    <th>Tution</th>
                    <th>Transport</th>
                    <th>Total</th>
                    <th>Paid</th>
                    <th>Balance</th>
                </tr>
                <tbody>
                    <% months.forEach(month =>{%>
                    <tr>
                        <td style="font-weight: bold"><%= month %></td>
                        <td>
                            <%= studentFee[month.toLowerCase()].receiptNumber %>
                        </td>
                        <td><%= studentFee[month.toLowerCase()].date %></td>
                        <td><%= gradeFee.tution %></td>

                        <td><%= gradeFee.transport %></td>
                        <td>
                            <%= studentFee[month.toLowerCase()].transport +
                            gradeFee.tution %>
                        </td>
                        <td><%= studentFee[month.toLowerCase()].paid %></td>
                        <td>
                            <%= studentFee[month.toLowerCase()].transport + gradeFee.tution -
                            studentFee[month.toLowerCase()].paid %>
                        </td>
                    </tr>
                    <%})%>
                </tbody>
            </table>
        </div>
    </body>
</html>
