<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Update Grade Fee</title>
        <style>
            @import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap");

            :root {
                --color-primary: #00308f;
            }

            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: "JetBrains Mono", monospace;
            }
            a {
                text-decoration: none;
            }
            body {
                padding: 2.5rem;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            input {
                margin: 0.75rem;
            }
            .school {
                padding: 0.25rem 1.5rem;
                margin: 1rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                gap: 2.5rem;
                /* background-color: var(--color-primary); */
            }
            .school a:hover,
            .school a:active,
            .school a:visited {
                color: var(--color-primary);
                text-decoration: none;
            }

            .school-name {
                font-size: 2.5rem;
                font-weight: 800;
                color: var(--color-primary);
                /* color: #fff; */
            }
            input[type="submit"] {
                margin: 1rem;
                color: var(--color-primary);
                font-size: 1.25rem;
                font-weight: 800;
                padding: 0.5rem 1rem;
                background-color: white;
                border: 2.5px solid var(--color-primary);
                border-color: var(--color-primary);
                border-radius: 10px;
                transition: 0.2s;
            }

            input[type="submit"]:hover {
                background-color: var(--color-primary);
                color: white;
                cursor: pointer;
                transition: 0.2s;
            }
            label{
                font-weight: bold;
            }
        </style>
    </head>

    <body>
        <div class="school">
            <div class="school-logo">
                <a href="/grades">
                    <img
                        src="/images/school/logo-small.jpg"
                        alt="school-logo"
                        width="100px"
                    />
                </a>
            </div>
            <div class="school-name">
                <a href="/grades"> Shining Stars Academy </a>
            </div>
        </div>
        <form action="/updateGradeFee/<%= grade %>" method="POST">
            <label for="tution">Tution : </label>
            <input
                type="text"
                name="tution"
                id="tution"
                value="<%= gradeFee.tution %>"
            />
            <br />
            <label for="exam">Examination : </label>
            <input
                type="text"
                name="exam"
                id="exam"
                value="<%= gradeFee.exam %>"
            />
            <br />
            <label for="computer">Computer : </label>
            <input
                type="text"
                name="computer"
                id="computer"
                value="<%= gradeFee.computer %>"
            />
            <br />
            <label for="stationery">Stationery : </label>
            <input
                type="text"
                name="stationery"
                id="stationery"
                value="<%= gradeFee.stationery %>"
            />
            <br />
            <label for="development">Development : </label>
            <input
                type="text"
                name="development"
                id="development"
                value="<%= gradeFee.development %>"
            />
            <br />

            <input type="submit" value="Submit" />
        </form>
    </body>
</html>
